@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} 


.App p {
  text-align: center;
  background: linear-gradient(270deg, #ff9a9e, #b0d8e3, #fff7b4, #ffdbfa);
  background-size: 200% 200%;
  animation: wave 10s ease-in-out infinite;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-weight: 500;
  border-radius: 10px;
}

.App-header {
  animation: wave 10s ease-in infinite;
  min-height: 100vh;
  background: linear-gradient(300deg, #ff9a9e, #b0d8e3, #f3fab3, #ffdbfa, #ff9a9e,);
  background-size: 300% 300%;
  display: flex;
  align-items: center;
  justify-content: center;
}
