@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

.App p {
  text-align: center;
  background-color: #ccffcc;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-weight: 500;
}

.App-header {
  background-color: #b0d8e3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
