@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 0% 75%;
  }
  100% {
    background-position: 0% 50%;
  }
}


body {
  background: linear-gradient(270deg, #ff9a9e, #b0d8e3, #f3fab3, #ffdbfa);
  background-size: 200% 200%;
  animation: wave 10s ease-in-out infinite;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#imgBox{
  height: 1000px;
  width: 1350px;
  margin-top: 20px;
}

#imgBox img{
  margin: 10px;
  border-radius: 35px;
  position: relative;
}

#imgBox img:hover{
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.514);
  transition: box-shadow .25s ease-in-out;
  transform: scale(1.30);
  transition: transform .25s ease-in-out;
  z-index: 1;
}


#imgBox img:not(:hover){
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.171);
  transition: box-shadow .5s ease-in-out;    
  transform: scale(1.00);
  transition: transform .5s ease-in-out;
  z-index: 0;
}


#imgBox p{
  background-color: #b0d8e3;
}
